<body>
    <div class="background-wrapper">
        <div class="background-overlay"></div>
        <div class="container-lg">
            <!-- Your content here -->
            <h1>Welcome to Our Rare Disease Chat Agent!</h1>
            <p>
                Here at Ramsey Lab with Oregon State University, we are excited to introduce our new Rare Diseases chat agent. This
                project aims to ...
            </p>
            <h2>Meet Our Team</h2>
            <ul>
                <li>Sundareswar Pullela</li>
                <li>Akshay Mulgund</li>
                <li>Frankie Hodges</li>
                <li>Derrick Higgins</li>
            </ul>
            <button class="btn btn-primary" [routerLink]="['/chat']">Start Chat</button>
        </div>
    </div>
</body>
