<body>
    <div class="background-wrapper">
        <div class="background-overlay"></div>
        <div class="container-lg">
            <!-- Your content here -->
            <h1>Welcome to Our Rare Disease Chat Agent!</h1>
            <h2>Meet Our Team</h2>
            <ul>
                <li> Dr. Stephen Ramsey</li>
                <li>Sundareswar Pullela</li>
                <li>Akshay Mulgund</li>
                <li>Frankie Hodges</li>
                <li>Derrick Higgins</li>
                <li>Dr Jared Roach</li>
            </ul>

            <button class="btn btn-primary" [routerLink]="['/chat']">Start Chat</button>
        </div>
        <p>Learn more about <a href="https://lab.saramsey.org/">Ramsey Lab</a>:</p>
    </div>
    
</body>
