<body>
    <div class="background-wrapper">
        <div class="background-overlay"></div>
        <div class="container-lg">
            <!-- Your content here -->
            <h1>Welcome to RADIANT</h1>
            <div style="margin-left: 10%; margin-right: 10%;">
                <p style="text-align: justify;">Radiant is an AI-driven chat agent designed to assist in diagnosing and managing rare diseases. By leveraging large-language models and comprehensive databases extracted from scientific literature, Radiant provides timely, accurate, and evidence-based answers for patients, caregivers, and healthcare professionals. The tool aims to make healthcare more equitable and accessible by offering insights into disease mechanisms, genetic causes, and potential therapeutic approaches for thousands of rare diseases. Currently, Radiant supports conditions like hypophosphatasia and Ehlers-Danlos Syndrome, with plans to expand further.</p>

            </div>
            <button class="btn btn-primary" [routerLink]="['/chat']">Start Chat</button>
            <div style="margin-top: 10px;"></div>
            <button class="btn btn-primary" [routerLink]="['/whitepaper']">Read the Whitepaper</button>

            <div style="margin-top: 5%;">
                <h2>Meet Our Team</h2>
                <ul>

                    <li><a href="mailto:Stephen&#46;Ramsey&#64;oregonstate&#46;edu">Dr Stephen Ramsey</a></li>
                    <li><a href="mailto:pullelas&#64;oregonstate&#46;edu">Sundareswar Pullela</a></li>
                    <li><a href="mailto:hodgesf&#64;oregonstate&#46;edu">Frank Hodges</a></li>
                    <li><a href="mailto:higginde&#64;oregonstate&#46;edu">Derrick Higgins</a></li>
                    <li><a href="mailto:mulgunda&#64;oregonstate&#46;edu">Akshay Mulgund</a></li>
                    <li><a href="mailto:jared&#64;example&#46;com">Dr Jared Roach</a></li>
                </ul>
            </div>
           
            <p>Learn more about <a href="https://lab.saramsey.org/">Ramsey Lab</a></p>
        </div>
    </div>
</body>
