<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="pdf-container">
    <iframe 
      src="https://drive.google.com/file/d/16KfXBr_qv6kiVxxPIYuoLCeE0_kTUuaW/preview" 
      width="50%" 
      height="800px"
      class="pdf-iframe">
    </iframe>
    
    <!-- Add a download button below the iframe -->
    <div class="download-container">
      <a href="https://drive.google.com/uc?export=download&id=16KfXBr_qv6kiVxxPIYuoLCeE0_kTUuaW" 
         class="download-button" 
         download>
         Download PDF
      </a>
    </div>
  </div>