<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rare Disease Chatbot - Ramsey Lab</title>
</head>
<body>
    <section>
        <h2>Our Team</h2>
        <img src="../../assets/team.jpg" alt="Team Photo" style="width:100%; max-width:600px;">
        <ul>
            <li><a href="mailto:higginde&#64;oregonstate&#46;edu">Derrick Higgins</a></li>
            <li><a href="mailto:pullelas&#64;oregonstate&#46;edu">Sundareswar Pullela</a></li>
            <li><a href="mailto:mulgunda&#64;oregonstate&#46;edu">Akshay Mulgund</a></li>
            <li><a href="mailto:Stephen&#46;Ramsey&#64;oregonstate&#46;edu">Dr Stephen Ramsey</a></li>
            <li><a href="mailto:hodgesf&#64;oregonstate&#46;edu">Frank Hodges</a></li>
            <li><a href="mailto:jared&#64;example&#46;com">Dr Jared Roach (Not in the picture)</a></li>
        </ul>
        <p>Our project is open source. You can find the code on our <a href="https://github.com/rarepath/RareHack" target="_blank"><img src="../../assets/github-mark.png" alt="GitHub" style="width:16px;height:16px;"> GitHub repository</a>.</p>
    </section>
    <section>
        <h2>Our Tool - Radiant (Coming Soon)</h2>
        <p>Watch the video below to learn more about our project.</p>
        <iframe src="https://drive.google.com/file/d/1LrvcAsqSHB6Jhl4LjPck0tBebvSS0Rgg/preview" width="640" height="480" allow="autoplay"></iframe>
        <p>Check out our demo at <a href="https://radiant.rarepath.ai/chat" target="_blank">radiant.rarepath.ai</a></p>
    </section>
    
    <section>
        <h2>Contact Information</h2>
        <p>For more information, visit the <a href="https://lab.saramsey.org/">Ramsey Lab</a> website.</p>
        <p>Email: <a href='mailto:co&#110;t&#97;ct-&#117;&#115;&#64;&#114;&#97;repath&#46;a&#105;'>co&#110;t&#97;ct-&#117;&#115;&#64;&#114;&#97;repath&#46;a&#105;</a></p>

    </section>
    <footer>
        &copy; 2024 Ramsey Lab. All rights reserved.
    </footer>
</body>
</html>